<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Proxy all requests to Node.js application -->
                <rule name="NodeJSProxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Error handling -->
        <httpErrors errorMode="Detailed" />
        
        <!-- Default documents -->
        <defaultDocument enabled="false" />
    </system.webServer>
</configuration>